<!DOCTYPE html>
<html>

  <head>
    <title>Exercise Tracker</title>
    <link rel="shortcut icon" href="" type="image/x-icon"/>
    <link href="style.css" rel="stylesheet" type="text/css"/>
  </head>

  <body>
    <!--Title-->
    <div id="title-container">
      <h1>Exercise Tracker</h1>
      <h2>A freeCodeCamp project from the Back End Development and APIs Certification</h2>
    </div>
    <!--Content-->
    <div id="main-container">
      <div id="add-user-container">
        <!--POST request: create new user-->
        <form id="user-form" action="/api/users" method="POST">
          <h3>Create New User</h3>
          <input id="username-input" type="text" name="username" placeholder="Username"/>
          <input class="button" type="submit" value="Submit">
        </form>
      </div>
      <div id="add-exercise-container">
        <!--POST request: create new exercise-->
        <form id="exercise-form" action="/api/users/:id/exercises" method="POST">
          <h3>Add New Exercise</h3>
          <input id="uid" type="text" name="id" placeholder="Id*" />
          <input id="desc" type="text" name="description" placeholder="Description*" />
          <input id="dur" type="text" name="duration" placeholder="Duration* (minutes)" />
          <input id="date" type="text" name="date" placeholder="Date (yyyy-mm-dd)" />
          <input class="button" type="submit" value="Submit">
        </form>
      </div>
      <h3>Usage</h3>
      <p>Make POST requests above to add new users and exercises. Then, you can make the following GET requests:</p>
      <p><b>1) </b>To <b>/api/users</b> to receive an array containing all users on the database.</p>
      <a href="/api/users" class="exemple-link">/api/users</a>
      <p><b>2) </b>To <b>/api/users/:id/logs?[from][&to][&limit]</b> to receive the exercise log of a specific user.</p>
      <a href="/api/users/vuthe27x1tduzgr0rp10/logs?from=2021-12-01&to=2022-01-31" class="exemple-link">/api/users/vuthe27x1tduzgr0rp10/logs?from=2021-12-01&to=2022-01-31</a>
      <p>
        <b>Note</b>: you can add [from], [to] and [limit] as optional parameters to retrieve part of the exercise log of any user.
        [From] and [to] are dates in yyyy-mm-dd format while [limit] is an integer of how many logs to send back.
      </p>
      <h3>Outputs</h3>
      <p><b>User:</b>
        <code class="output-item">{"_id": "vuthe27x1tduzgr0rp10", "username": "John Doe"}</code>
      </p>
      <p><b>Exercise:</b>
        <code class="output-item">{"username": "John Doe", "_id": "vuthe27x1tduzgr0rp10", "description": "Work", "duration": 360, "date": "Wed Dec 29 2021"}</code>
      </p>
      <p><b>Logs:</b>
        <code class="output-item">{"username": "John Doe", "_id": "vuthe27x1tduzgr0rp10", "count": 3, "log":
          [{"description": "Work", "duration": 360, "date": "Wed Dec 29 2021"},
            {"description": "Party", "duration": 120, "date": "Fri Dec 31 2021"},
            {"description": "Rest", "duration": 60, "date": "Sat Jan 01 2022"}]}
        </code>
      </p>
      <h3>Learn More</h3>
      <p>
        For more information please visit this project's repository on
        <a href="https://github.com/victordrumond/exercise-tracker" target="_blank">GitHub</a>.
      </p>
    </div>
    <script>
      const exerciseForm = document.getElementById("exercise-form");
      exerciseForm.addEventListener("submit", () => {
        const userId = document.getElementById("uid").value;
        exerciseForm.action = `/api/users/${userId}/exercises`;
        exerciseForm.submit();
      });
    </script>
  </body>

</html>